<footer class="container-fluid bg-light ">
    <div class="row">
        <section class="col">
            Esh
        </section>
        <section class="col">
            Esh 2
        </section>
        <section class="col">
            Esh 3
        </section>
    </div>

</footer>