<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>{{ page }}</h1>


<h2>Bonjour l'équipe Motoblouz, {{ name }} et {{ name2 }}</h2>

<p>Ce n'est qu'un début, Symfony n'attend que d'être exploité dans son plus grand potentiel</p>
{# ... #}
</body>
</html>
